.btnVariantRadio{
  display: none;
}

.btnVariant{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 7px 10px;
  cursor: pointer;
}

.btnVariantRadio:checked + 
.btnVariant{
  background-color: white;
  color: #333333;
}
.btnVariantRadio:disabled + 
.btnVariant{
  opacity: 0.4;
}
.doneBtn{
  width: fit-content !important;
  padding: 7px 25px;
}
.countVariant{
  position: absolute !important;
  top: -5px !important;
  left: 90% !important;
}

.bringinDescriptionBox::-webkit-scrollbar {
  display: none;
}

.bringinDescriptionBox  p{
  color: white !important;
}